<html>
<head>
	<title>Driver App</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<!-- page wrapper starts -->
<div class="wrapper">

	<!-- headerstarts -->
	<div class="header">
		<h1>Driver App</h1>
		<h3>Driver ID <%= driverid %></h3>
		<div class="clear"></div>
	</div>

	<!-- Header ends -->


	<!-- content starts -->
<div class="content">
	<!-- 3 column layout  starts -->


	<div class="row" id="driverstatus">

		<div class="row head">
			<div class="col w33">
				Waiting

			</div>
			<div class="col w33">
				In Progress
			</div>
			<div class="col w33">
				Completed
			</div>
			<div class="clear"></div>

		</div>
		<div class="row body">
			<div class="col w33" id="waiting">
				

			</div>
			<div class="col w33" id="inprogress">
			</div>
			<div class="col w33" id="completed">
				
			</div>
			<div class="clear"></div>

		</div>


		

	</div>





	<!-- 3 column layout  ends -->


</div>
	<!-- Content ends -->
<input type="hidden" value="<%= driverid %>" id="driverid"/>
</div>
	<script type="text/template" id="itemtmpl">
	<div class="item">
					<div class="row">
						<div class="col w50">Req ID : {{bookingid}}</div>
						<div class="col w50">Cust ID : {{customerid}} </div>
						<div class="clear"></div>
						
					</div>
					<p>{{timeago}}</p>
					<a href="javascript:void(0)" data-bookingid="{{bookingid}}" data-customerid={{customerid}}>Select</a>
				</div>
	</script>

	<!-- page wrapper ends -->
<script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>

<script type="text/javascript" src="/javascripts/socket.io.min.js"></script>
	

<script type="text/javascript" src="/javascripts/timeago.js"></script>
<script type="text/javascript" src="/javascripts/drivers.js"></script>

</body>
</html>