<html>
<head>
	<title>Driver App</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<!-- page wrapper starts -->
<div class="wrapper">

	<!-- headerstarts -->
	<div class="header">
		<h1>Driver App</h1>
		<h3>Driver ID 2</h3>
		<div class="clear"></div>
	</div>

	<!-- Header ends -->


	<!-- content starts -->
<div class="content">
	<!-- 3 column layout  starts -->


	<div class="row" id="driverstatus">

		<div class="row head">
			<div class="col w33">
			one
			</div>
			<div class="col w33">
				two
			</div>
			<div class="col w33">
				three
			</div>
			<div class="clear"></div>

		</div>
		<div class="row body">
			<div class="col w33">
				<div class="item">
					<div class="row">
						<div class="col w50">Req ID : 43</div>
						<div class="col w50">Cust ID :33 </div>
						<div class="clear"></div>
						
					</div>
					<p>16 min ago</p>
					<a href="javascript:void(0)">Select</a>
				</div>

			</div>
			<div class="col w33">
				two
			</div>
			<div class="col w33">
				three
			</div>
			<div class="clear"></div>

		</div>


		

	</div>





	<!-- 3 column layout  ends -->


</div>
	<!-- Content ends -->
	
</div>

	<!-- page wrapper ends -->


</body>
</html>