<html>
<head>
	<title>Home</title>
</head>
<body>

	<ul>
		<li><a href="/driverapp/1">Driver App 1</a></li>
		<li><a href="/driverapp/2">Driver App 2</a></li>
		<li><a href="/driverapp/3">Driver App 3</a></li>
		<li><a href="/driverapp/4">Driver App 4</a></li>
			<li><a href="/driverapp/5">Driver App 5</a></li>
		
		<li><a href="/customerapp">customer App</a></li>
		<li><a href="/dashboard">Dashboard</a></li>
	

	</ul>

</body>
</html>